.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__block {
        display: flex;
        flex-direction: row;
        margin: 15px;

            &__list {
                display: flex;
                flex-direction: row;
                > * {
                    margin: 0 15px;
                }
            }

            a {
                text-decoration: none;
                color: black;
            }
            a :visited {
                color: black;
            }

            p {
                margin: 0 15px;
                display: none;
            }
        

            h1{
                font-size: 17px;
                margin: 0 15px;
            }
    }


    &__buton-block {
        display: flex;
        margin: 15px;
        align-items: center;

            > * {
                margin: 0 15px;
            }
    }

    @media screen and (max-width: 840px) {
        justify-content: space-between;
        align-items: flex-start;
        &__block {
            flex-direction: column;
            

            &__list {

                display: none;
                margin-top: 15px;

                > * {
                    margin: 10px 15px;
                }
            }

            .active {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }

            p {
                display: block;
            }
        
        }
    }
}
